<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <style>
        .list-group-item {
            margin-bottom: 10px;
        }
    </style>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="cert" style="display: flex;flex-direction: row;justify-content:space-evenly ;">
            <div class="valid" style="  align-self:stretch;">
                <h3>Varifed Projects</h3>
                <ul class="list-group" style="width: 550px;">
                    <% validTask.forEach(task => { %>
                    <li class="list-group-item">
                        <p>Project id : </p>
                        <p>Project Name : <%= task._name %></p>
                        <p>Tech Used : <%= task._tech %></p>
                        <p>Student Id : <%= task._stdId %></p>
                        <p>approvers : <%= task._approvers %> </p>
                        <p>approvedTime : <%= task._time %></p>
                    </li>
                    <% }); %>
                </ul>

            </div>
            <div class="notvalid" style="  align-self:stretch;">
                <h3>UnVarifed Projects</h3>
                <ul class="list-group" style="width: 550px;">
                    <% nonValidTask.forEach(task => { %>
                    <li class="list-group-item">
                        <p>Project id : </p>
                        <p>Project Name : <%= task._name %></p>
                        <p>Tech Used : <%= task._tech %></p>
                        <p>Student Id : <%= task._stdId %></p>
                        <p>approvers : <%= task._approvers %> </p>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>